<%= render @inbox %>

<div>
  <%= link_to "Edit this inbox", edit_inbox_path(@inbox) %> |
  <%= link_to "Back to inboxes", inboxes_path %>

  <%= button_to "Destroy this inbox", @inbox, method: :delete %>
</div>

<hr>

<h1>
  Messages
  <%= @inbox.messages.length %>  
</h1>

<%= link_to 'New Message', new_inbox_message_path(@inbox) %>

<%= render partial: 'inboxes/messages/message', collection: @inbox.messages %>
